body{
  background-color: black;
}
.services {
    padding: 50px;
    text-align: center;
    background-color: black;
  }
  
  .service-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 10px; /* Add rounded corners for a more modern look */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: black;;
  }
  
  .service-card h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: white; /* Darker text color for better contrast */
  }
  
  .service-card p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: white; /* Slightly lighter text color for readability */
  }
  
  .service-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .service-card li {
    margin-bottom: 10px;
    color: white; /* Even lighter text color for list items */
  }
  
  .learn-more-btn {
    background-color: #22c8ef;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .learn-more-btn:hover {
    background-color: #22c8ef;
  }
  section h2{
    color: #22c8ef;
  }