/* login.css */

body {
    background-color: black;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Big Caslon', 'Garamond';
  }
  
  form {
    background-color: black;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: #22c8ff 1.5px solid;
    width: 350px;
    height: 350px;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: white;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
  }
  
  input {
    width: 93%;
    padding: 0.75rem;
    /* margin-top: 3px; */
    margin-bottom: 1rem;
    border: 2px solid #22c8ff;
    border-radius: 4px;
    font-size: 1rem;
    border-radius: 25px;
    background-color: black;
    color: white;
  }
  
  input:focus {
    border-color: #22c8ff;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
  
  button {
    width: 101%;
    background-color: #22c8ff;
    color: white;
    padding: 0.75rem;
    margin-top: 20px;
    font-size: 1rem;
    border: none;
    
    cursor: pointer;
    border-radius: 25px;
    font-family: 'Big Caslon', 'Garamond';
  }
  
  /* button:hover {
    background-color: #0056b3;
  } */
  
  p {
    color: #ff0000;
    font-size: 0.875rem;
  }
  
  a {
    color: #22c8ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .text-red-500 {
    color: #ff0000;
  }
  
  .shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .border-red-500 {
    border-color: #ff0000;
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .mt-1 {
    margin-top: 0.25rem;
  }
  
  .mt-2 {
    margin-top: 0.5rem;
  }
  