body{
  background-color: black;
}
.review {
  padding: 2px;
  text-align: center;
  background-color: black;
  width: 650px;
  width: 55%; /* Adjust the width as necessary */
  margin: 0 auto; 
}

.review h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}

.review form {
  max-width: 600px;
  margin: 0 auto;
}

.review label {
  display: block;
  margin-bottom: 10px;
  color: white;
}

.review input,
.review textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #22c8ff;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: black;
  border-radius: 5px;
}

.review textarea {
  height: 100px;
}

.review button {
  background-color: #22c8ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.review button:hover {
  background-color: #3a9ee0;
}

.review button:active {
  background-color: #1f7ed0;
}