/* Dashboard styles */

body{
    background-color: black;
}
.dashboard {
    width: 10%; /* 20% of the page width */
    background-color: black;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    position: fixed; /* Keep it fixed to the left */
    top: 0;
    left: 0;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; /* Space between icons */
   
}

.icon {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
    position: relative;
    
}

/* .icon:hover {
    background-color: grey; 
} */

.leaderboard-icon i {
    font-size: 24px; /* Trophy icon size */
    color: white;
    background-color: black;
    width: 60px;
    height: 60px;
    /* margin-left: 0.5px; */
    
}

.tooltip {
    display: none; /* Hidden by default */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 12px;
    position: absolute;
    top: 70px;
}

.leaderboard-icon:hover .tooltip {
    display: block; /* Show tooltip on hover */
}

/* Bugs container */
.bugs-container {
    margin-left: 25%; /* Adjusting for the dashboard width */
    padding: 20px;
    background-color: black; /* Dark background */
    color: white; /* White text */
    min-height: 100vh; /* Full viewport height */
    width:100%;
    border: 2px solid white;
    border-radius: 5px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
}

/* Bugs list styles */
.bugs-list {
    list-style-type: none;
    padding: 0;

}

.bug-item {
    background-color: black; /* Black background for bugs */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid white; /* White border */
    position: relative;
    transition: background-color 0.3s ease;
}

/* .bug-item:hover {
    background-color: #444; } */

/* General text and heading styles */
h2 {
    margin-bottom: 10px;
    color: #f9f9f9;
    width: 100%;
}

p {
    margin-bottom: 5px;
    font-size: 16px;
    color: #ddd;
}

/* List styles */
ul {
    padding: 0;
}

li {
    list-style: none;
}

/* Hover effect for icons */
.logo-icon:hover, .leaderboard-icon:hover {
    background-color: grey; /* Change background on hover */
}
