/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #f3f4f6;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Top Bar */
.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 1rem 2rem;
    color: #fff;
}

.learn-more {
    font-size: 1rem;
    color: #00d3d3;
    cursor: pointer;
}

.login-btn {
    background-color: #000;
    color: #fff;
    border: 0.5px solid #570257;
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #570257;
    color: #ffffff;
}

/* Main Content */
.main-content {
    text-align: center;
    padding: 2rem 1rem;
    color: white;
}

.main-content h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.main-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.options {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.option-card {
    background-color: #000000;
    border-radius: 10px;
    padding: 1.5rem;
    width: 250px;
    text-align: center;
    border: #570257 solid 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.option-card:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.option-card h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.option-card p {
    color: #ccc;
    font-size: 1rem;
    margin: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-content h1 {
        font-size: 1.8rem;
    }

    .main-content p {
        font-size: 1.1rem;
    }

    .option-card {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .main-content h1 {
        font-size: 1.5rem;
    }

    .main-content p {
        font-size: 1rem;
    }

    .option-card {
        width: 100%;
        padding: 1rem;
    }

    .top-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .learn-more {
        font-size: 0.9rem;
    }

    .login-btn {
        font-size: 0.9rem;
    }
}